<head>
	<title>Testing chat</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
	<div id='chatBody'>
		<label id='banner'></label>
		<ul id="chatTable"></ul>
		<form id="chatForm">
		<input id="chatInput" placeholder="chat text here"/>
		</form>

		<div id='buttonBar'>
			<button id='channels'>Channels</button>
			<button id='feeds'>Feeds</button>
			<button id='friendConvo'>Convos</button>
			<button id='settings'>Settings</button>
			<button id='back'>Back</button>
		</div>
	
	</div>
	<div id='login'>
		<form id='chatNameForm'>
			<label>What's your name?</label>
			<input id="chatName" value="Default Name" />
			<button id='submitNewName'>Submit</button>
		</form>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../js/jquery.cookie.js"></script>	
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>	
	<script src="../js/LandingPage.js"></script>	
	<script src="../js/MessageDisplay.js"></script>	
	<script src="../js/ServerConnection.js"></script>	
	<script src="../js/ChatLobby.js"></script>	
</body>